timeout: {{ test_timeout }}
state_order: sequence
states:
  state_1:
    description: >
      Baseline profiling test
    host:
      profiling-server:
        actions:
        - execute_command:
            command: |
              cd /srv/freeradius
              /profile/configure.sh
              make -j$(nproc)
              make install
              ln -sf /usr/local/sbin/radiusd /usr/local/sbin/freeradius
              ln -sf /etc/freeradius/radiusd.conf /etc/freeradius/freeradius.conf
              ln -sf /etc/freeradius /etc/raddb
        - execute_command:
            command: |
              #
              # proto_load configuration via environment variables
              #
              {%- for key, value in loadgen.items() %}
              export TEST_LOADGEN_{{ key | upper }}="{{ value }}"
              {%- endfor %}
              TEST_LOADGEN_NUM_MESSAGES=0
              for ((pps=$TEST_LOADGEN_START_PPS; pps<=$TEST_LOADGEN_MAX_PPS; pps+=$TEST_LOADGEN_STEP)); do
                TEST_LOADGEN_NUM_MESSAGES=$((TEST_LOADGEN_NUM_MESSAGES + TEST_LOADGEN_DURATION * pps))
              done
              export TEST_LOADGEN_NUM_MESSAGES
              #
              # Starting load-generator server which will generate traffic based on env configuration
              # from above.
              #
              printf "Starting load-generator with the following configuration:\n"
              {%- for key, value in loadgen.items() %}
              printf "  {{ key | upper }}:%s\n" "$TEST_LOADGEN_{{ key | upper }}"
              {%- endfor %}
              printf "  NUM_MESSAGES:     %s\n" "$TEST_LOADGEN_NUM_MESSAGES"

              # No profiling
              #exec freeradius -f -l stdout

              # Valgrind/callgrind profiling
              exec valgrind \
                --tool=callgrind \
                --callgrind-out-file=/etc/prof-results/callgrind.out.%p \
                --trace-children=yes \
                --separate-threads=yes \
                --dump-instr=yes \
                --collect-jumps=yes \
                --cache-sim=yes \
                --branch-sim=yes \
                freeradius -f -l stdout -S resources.talloc_skip_cleanup=yes

            detach: true
    verify:
      timeout: {{ test_verify_timeout }}
      trigger_mode: unordered
  state_2:
    description: >
      Generate Valgrind/callgrind profiling report
    host:
      profiling-server:
        actions:
        - execute_command:
            command: |
              # Generate report from non-empty callgrind.out.* output files
              cd /etc/prof-results
              callgrind_annotate $(find . -name "callgrind.out.*" -size +0c | sort) > callgrind_report.txt
    verify:
      timeout: 5
      trigger_mode: unordered
